.popular-post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
.h3{
    opacity: .7;
}

@media (max-width:480px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .post-img{
        width: 300px;
        height: 170px;
    }

    .card-title{
        font-size:22px;
        line-height: 25px;
    }

    .popular-post{
        width: 300px;
        margin-left:30px;
        margin-top:25px;
    }
    .single-popular{
        margin-bottom: 20px;
    }
    .single-img{
        width: 90px;
        height: 70px;
        object-fit: cover;
    }
    .h3{
        padding-left: 10px;
    }

}