.cusShopBackImg {
    background-image: url(./../../../assets/shop.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.cusbor1 {
    border: 1px solid red;

}

.cusOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.cusText {
    font-family: 'Montserrat', sans-serif;
    color: #434343;
}
